:root {
    --color-main: #fff;
    --color-hover-primary: #265bb6;
    --color-primary: #357EFE;
    --color-head: #000;
    --color-for-rates: rgba(78, 93, 124, 0.50);
    --color-line: rgba(78, 93, 124, 0.08);
    --color-percent: #1ABC9C;
    --color-bg-profitably: #FFC736;
    --color-for-rates-text: #4E5D7C;
    --color-for-title-3: rgba(255, 255, 255, 0.60);
    --color-line-2: rgba(255, 255, 255, 0.16);
    --color-for-menu-item: rgba(255, 255, 255, 0.80);
    --color-button-pri-link: #c0c0c0;
    --color-footer: #1A1D25;
    --color-footer-text: rgba(255, 255, 255, 0.70);
    --color-footer-a: rgba(255, 255, 255, 0.50);
    --color-line-3: rgba(255, 255, 255, 0.08);
    --color-text-2: #FF6536;

    --border-47: 47px;
    --border-34: 34px;
    --border-16: 16px;
    --border-8: 8px;
    --layout-width: 1920px;
}

* {
    box-sizing: border-box;
}

html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

main {
    overflow: hidden;
}

body {
    /* background: var(--color-main); */
    margin: 0;
    font-family: "Fira Sans", sans-serif;
    font-style: normal;
    width: 100%;
}

a {
    text-decoration: none;
}