/* wrapper */
.support__wrapper {
    background-color: var(--color-primary);
    padding: 0 95px;
    border-radius: var(--border-16);
    display: flex;
    gap: 74px;
    width: 1392px;
}

.reviews__wrapper {
    display: flex;
    background-color: var(--color-primary);
    border-radius: var(--border-16);
    margin-bottom: 80px;
}

/* headling */
.headling_h {
    color: var(--color-head);
    font-size: 40px;
    font-weight: 600;
    line-height: 120%;
    margin: 0;
}

.headling_h2 {
    color: var(--color-main);
    text-align: center;
    font-size: 48px;
    font-weight: 600;
    line-height: 120%;
    margin-bottom: 24px;
}

.header-h1 {
    color: var(--color-main);
    font-weight: 8f00;
    margin: 126px 0 0 0;
    width: 515px;
}

.headrer__support {
    color: var(--color-main);
    margin-top: 80px;
    margin-bottom: 14px;
}

/* hero */
.hero__1 {
    width: 510px;
    margin-bottom: 25px;
}

.hero__2 {
    width: 571px;
    margin-bottom: 25px;
}

.hero__3 {
    margin-bottom: 30px;
    width: 526px;
}

.hero__text {
    color: var(--color-for-rates);
    font-size: 18px;
    font-weight: 500;
    line-height: 140%;
    width: 482px;
}

.hero__text-2 {
    width: 565px;
}

.hero__text-3 {
    width: 526px;
}

.hero__text-5 {
    width: 1156px;
    text-align: center;
    margin: 0 auto;
    color: var(--color-for-menu-item);
}

/* time */
.time {
    padding: 120px 0;
}

.time__end {
    display: flex;
    gap: 71px;
    justify-content: center;
}

/* three__point-2 */
.three__points-2 {
    padding: 120px 0 80px;
    border-bottom: 1px solid var(--color-line);
    display: flex;
    gap: 78px;
}

.header_three__point-2 {
    font-size: 32px;
}

.three__point-2-text {
    width: 367px;
    font-size: 17px;
}

/* rates */
.rates__header-h1 {
    color: var(--color-head);
    text-align: center;
    font-size: 48px;
    font-weight: 600;
    line-height: 120%;
    margin-bottom: 24px;
}

.rates__header {
    margin-top: 80px;
    text-align: center;
}

.rates__header-text {
    color: var(--color-for-rates);
    font-size: 17px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
    margin-bottom: 40px;
}

.rates_wrappper {
    /* Как сделать цвет как в Фигме? У белых карточек */
    padding: 30px;
    display: grid;
    grid-template-columns: [start] 1fr [str-center] 1fr [end-center] 1fr [end];
    gap: 24px;
}

/* support */
.headrer__support__text {
    width: 411px;
    color: var(--color-for-menu-item);
    margin-bottom: 40px;
}


/* all media */
/* @media (max-width: 1200px) {


    .rates_wrappper {
        grid-template-columns: [start] repeat(2, 1fr) [end];
        justify-content: center;
    }
}

@media (max-width: 800px) {
    .rates_wrappper {
        grid-template-columns: [start] repeat(auto-fit, minmax(369px, 369px)) [end];
        grid-column-gap: 24px;
        grid-row-gap: 24px;
    }

    .rates__header {
        text-align: start;
        padding: 24px;
    }

    .rates__header-text {
        font-size: 17px
    }

    .rates__header-h1 {
        text-align: start;
    }
} */