body {
  background: linear-gradient(180deg, #374151 0%, #111827 100%);
  margin: 0;
}

nav ul {
  list-style: none;
}

header a {
  color: #FFF;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
}

header input {
  background: rgba(31, 41, 55, 0.60);
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
}

h1 {
  color: #FFF;
  font-size: 24px;
  font-weight: 400;
  line-height: 38px;
  width: 525px;
  height: 76px;
  text-align: center;
  margin: 14px auto 30px;
}

p {
  color: #FFF;
  font-weight: 400;
}

p > a {
  color: #FFF;
}

footer {
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  width: 226px;
  margin: 35px auto 77px;
}

.v {
  background: #4B5563;
  color: #FFF;
  font-size: 18px;
  font-weight: 600;
  line-height: normal;
  border-radius: 3px;
  width: 35px;
  height: 35px;
  padding: 6px 12px;
}

.logo {
  margin: 72px 11px 80px 180px;
}

.myBlog {
  color: #FFF;
  font-size: 18px;
  font-weight: 400;
  line-height: normal;
  width: 80px;
  height: 21px;
  margin: 80px 25px 79px 11px;
}

.firstText {
  font-size: 20px;
  line-height: 32px;
  width: 708px;
  margin: 69px auto 15px;
}

.secondText {
  font-size: 16px;
  line-height: 30px;
  width: 708px;
  margin: 15px auto 10px;
}

.creator {
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  margin: 30px auto 28px;
  text-align: center;
}

.name {
  color: #FFF;
  margin: 1px auto 1px;
}

.profession {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  margin: 1px auto 1px;
}

.title {
  margin: 73px auto 14px;
  text-align: center;
}

.title span {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  width: 180px;
  height: 17px;
}

.image {
  text-align: center;
}

.secondOtstup {
  margin: 15px auto 35px;
}